In [44]:
import json
import pandas as pd

In [54]:
import json
import pandas as pd

l = ['naive-p-small', 'naive-p-medium', 'seq-ensemble-p', 'naive-viz-p']
SEED = 42

for tc in l:
    file_path = f"{tc}/res.json"
    
    with open(file_path, 'r') as file:
        data = json.load(file)

    df = pd.DataFrame(data)

    df = df.sample(50, random_state=SEED)
    
    # Add the new columns
    df['accuracy'] = ''
    df['logic'] = ''
    df['clarity'] = ''
    df['detail'] = ''
    df['relevancy'] = ''

    # Reorder the columns so that the new columns come first
    df = df[['accuracy', 'logic', 'clarity', 'detail', 'relevancy'] + df.columns[:-5].tolist()]

    # Save the DataFrame to an Excel file
    df.to_excel(f'{tc}-assess.xlsx')

In [42]:
import pandas as pd

df = pd.DataFrame(data)
df['reasoned_answer'] = ''

In [43]:
df.to_csv('seq-ensemble-p_new.csv')

In [45]:
df.head()

,id,img_id,question,short_answer,reasoned_answer
0,1,1072.jpg,What is the purpose of the bike being locked t...,To prevent theft,
1,2,1072.jpg,How many bicycles are parked at the bike rack?,1,
2,3,1072.jpg,What is the purpose of the bike being locked t...,To prevent theft,
3,4,1159351.jpg,What is the purpose of the men playing video g...,Promote video games in museum.,
4,5,1159351.jpg,What is the purpose of the men playing video g...,Promote video games in museum.,